@use 'src/styles/variables' as var;

.title {
  position: relative;
  display: flex;
  justify-content: center;
  color: var.$colour-white;
  z-index: 3;
  top: 25px;
  font-size: 30px !important;
}

.app-container {
  overflow-anchor: none;
}
