@use '@angular/material' as mat;

@include mat.core();

$theme-primary: mat.m2-define-palette(mat.$m2-blue-gray-palette, A400, 500, 900);
$theme-accent: mat.m2-define-palette(mat.$m2-orange-palette, A200, A100, A400);

$theme-warn: mat.m2-define-palette(mat.$m2-red-palette);

$theme: mat.m2-define-light-theme((
  color: (
    primary: $theme-primary,
    accent: $theme-accent,
    warn: $theme-warn,
  ),
  typography: mat.m2-define-typography-config(
    $body-1: mat.m2-define-typography-level( 16px, 24px, 500, 'BCSans', 'normal' ), 
    $body-2: mat.m2-define-typography-level( 15px, 24px, 200, 'BCSans', 'normal' ), 
    $headline-5: mat.m2-define-typography-level( 32px, 48px, 700, 'BCSans', 'normal' ), 
    $headline-6: mat.m2-define-typography-level( 32px, 32px, 700, 'BCSans', 'normal' ), 
    $button: mat.m2-define-typography-level( 15px, 24px, 700, 'BCSans', 'normal' ), 
  ),
));

@include mat.all-component-themes($theme);
