<cirras-calculation-printout-logo></cirras-calculation-printout-logo>

<table id="outbox-table" *ngIf="calculationDetail">
  
  <tbody>
    <tr id="outbox-tr">
      <td id="outbox-td">
        <div class="page" style="line-height: 1.3; margin-top: 0px; padding-top: 0px;">

          <cirras-calculation-printout-header 
            [calculationDetail]="calculationDetail"
          ></cirras-calculation-printout-header>
          
              <div class="print-page-break-inside">
                <div style="padding-left: 10px; font-weight: bold;"><span>Plant Coverage</span><span style="float: right; padding-right: 15px; font-size: 12px;">From Statement of Premiums and Coverages</span></div>
                <div style="margin-left: 10px; margin-bottom: 20px; margin-right: 10px; margin-top: 3px; padding: 0px; border-radius: 0px; border: none">
                  <table>
                    <tbody>
                      <tr>
                        <td class="td-abc-label">A</td>
                        <td style="padding-left: 10px;" colspan="2">Total Plant Inventory</td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;">{{ calculationDetail.claimCalculationPlantUnits.insuredUnits | number:'1.0-0' }}</td>
                      </tr>

                      <tr>
                        <td class="td-abc-label">B</td>
                        <td  style="padding-left: 20px;" colspan="2">Less Adjustment for: 
                          <span style="float: right; padding-right: 10px; letter-spacing: 3px;">{{ calculationDetail.claimCalculationPlantUnits.lessAdjustmentReason }}</span>
                        </td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;">{{ calculationDetail.claimCalculationPlantUnits.lessAdjustmentUnits }}</td>
                      </tr>

                      <tr>
                        <td class="td-abc-label">C</td>   
                        <td colspan="2"><span style="padding-left: 10px;">Adjusted Plant Inventory</span>
                            <span style="float: right; padding-right: 10px; letter-spacing: 3px;">A - B</span></td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;">{{ calculationDetail.claimCalculationPlantUnits.adjustedUnits | number:'1.0-0'  }} </td>
                      </tr>

                      <tr>
                        <td class="td-abc-label">D</td>   
                        <td colspan="2"><span style="padding-left: 10px;">Deductible</span></td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;">{{ calculationDetail.claimCalculationPlantUnits.deductibleLevel | number:'1.0-0'  }}% </td>
                      </tr>

                      <tr>
                        <td class="td-abc-label">E</td>   
                        <td colspan="2"><span style="padding-left: 10px;">Deductible Plants</span>
                            <span style="float: right; padding-right: 10px; letter-spacing: 3px;">C x D</span></td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;">{{ calculationDetail.claimCalculationPlantUnits.deductibleUnits | number:'1.0-0'  }} </td>
                      </tr>

                      <tr>
                        <td class="td-abc-label">F</td>   
                        <td colspan="2"><span style="padding-left: 10px;">Maximum Number of Plants Eligible For Claim</span>
                            <span style="float: right; padding-right: 10px; letter-spacing: 3px;">C - E</span></td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;">{{ calculationDetail.claimCalculationPlantUnits.totalCoverageUnits | number:'1.0-0'  }} </td>
                      </tr>

                      <tr>
                        <td class="td-abc-label">G</td>   
                        <td colspan="2"><span style="padding-left: 10px;">Insured Value per Plant</span></td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;">{{ calculationDetail.claimCalculationPlantUnits.insurableValue | currency  }} </td>
                      </tr>

                      <tr>
                        <td class="td-abc-label">H</td>   
                        <td colspan="2"><span style="padding-left: 10px;">Coverage Value</span>
                            <span style="float: right; padding-right: 10px; letter-spacing: 3px;">F x G</span></td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;">{{ makeDollarsRounded( calculationDetail.claimCalculationPlantUnits.coverageAmount ) }} </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
          
              <div class="print-page-break-inside">
                <div style="padding-left: 10px; font-weight: bold;">Claim Determination</div>
                <div style="margin-left: 10px; margin-bottom: 20px; margin-right: 10px; margin-top: 3px; padding: 0px; border-radius: 0px; border: none">
                  <table>
                    <tbody>

                      <tr>
                        <td class="td-abc-label">I</td>
                        <td><span style="padding-left: 10px;">Damaged Plants</span></td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;">{{ calculationDetail.claimCalculationPlantUnits.damagedUnits | number:'1.0-0' }}</td>
                      </tr>

                      <tr>
                        <td class="td-abc-label">J</td>
                        <td>
                          <span style="padding-left: 20px;">Less Assessment for:</span>
                          <span style="float: right; padding-right: 10px; letter-spacing: 3px;">{{ calculationDetail.claimCalculationPlantUnits.lessAssessmentReason }}</span>
                        </td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;">{{ calculationDetail.claimCalculationPlantUnits.lessAssessmentUnits | number:'1.0-0' }}</td>
                      </tr>

                      <tr>
                        <td class="td-abc-label">K</td>
                        <td>
                          <span style="padding-left: 20px;">Less Deductible Plants</span>
                          <span style="float: right; padding-right: 10px; letter-spacing: 3px;">E</span>
                        </td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;">{{ calculationDetail.claimCalculationPlantUnits.deductibleUnits | number:'1.0-0' }}</td>
                      </tr>

                      <tr>
                        <td class="td-abc-label">L</td>
                        <td>
                            <span style="padding-left: 10px;">Damaged Plants</span>
                            <span style="float: right; padding-right: 10px; letter-spacing: 3px;">I - J - K</span>
                        </td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;">{{ calculationDetail.claimCalculationPlantUnits.totalDamagedUnits | number:'1.0-0' }}</td>
                      </tr>

                      <tr>
                        <td class="td-abc-label">M</td>
                        <td>
                          <span style="padding-left: 10px;">Plant Loss Claim</span>
                          <span style="float: right; padding-right: 10px; letter-spacing: 3px;">L x G</span>
                        </td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;">{{ makeDollarsRounded(calculationDetail.totalClaimAmount ) }}</td>
                      </tr>


                    </tbody>
                  </table>
                </div>    
              </div>

              <cirras-calculation-printout-footer 
                [calculationDetail]="calculationDetail"
              ></cirras-calculation-printout-footer>
           
        </div>
      </td>
    </tr>
  </tbody>
</table>
