  /* logo */
  .logo-image { 
    //width: 452;
    height: 70px; // 52px; 
  } 
 
  .printout-title {
    font-weight: 500; 
    font-size: 20px;
  }
  
  .printout-subtitle {
    font-weight: 500;
    //font-size: 12px;
  }
  
  
  
  