@use "sass:map";
@use 'variables' as var;

#core-interface-container {
  display: flex;
}

//-------------------------------initializing app-----------------------
@media screen and (max-width: map.get(var.$grid-breakpoints, sm)) {
  .cdk-overlay-container {
    position: fixed !important;
  }
  
  mat-dialog-container.mat-mdc-dialog-container {
    font-size: var.$font-size;
  }
}

//-------------------------------dialog-----------------------
@media screen and (max-width: calc(#{map.get(var.$grid-breakpoints, md)} - 1px)) {
  .cirras-claims-loading-screen {
    font-size: 50%;
  }
}

@media screen and (max-width: map.get(var.$grid-breakpoints, md)) {
  #core-interface-container{
    .bottom-summary{
      flex-direction: column;

      .ngx-pagination{
        margin-top: var(--cirras-claims-gutter-space);
        margin-bottom: var(--cirras-claims-gutter-space);
      }

      .show-entries-info{
        padding-bottom: var(--cirras-claims-gutter-space);
      }
    }
  }

}

