<pit-application class="cirras-application"
                [config]="applicationConfig"
                [(state)]="applicationState"
>
    <pit-header
            [config]="applicationConfig"
            [(state)]="applicationState"
    ></pit-header>

    <pit-menu
            [menuItems]="appMenu"
            [config]="applicationConfig"
            [(state)]="applicationState"
    >
    </pit-menu>

    <div>
        <ng-template #defaultMainContent>
            <router-outlet></router-outlet>
        </ng-template>

        <div id="core-interface-container">
            <div class="main-content-container">
                <ng-container *ngTemplateOutlet="defaultMainContent"></ng-container>
            </div>
        </div>
    </div>

</pit-application>

