@use 'src/styles/variables';

::ng-deep  pit-application.cirras-application {

  .bc-logo {
    .bc-service-logo {
        background-image: url("../../../assets/images/logo/bcgov-logo.png") !important; 
    }
  } 

  .app-logo-and-title{

    .separator {
        border-left: 0px !important;
        margin: 0 0px !important;
    }
  }
}
