<div class="cirras-claims-base-container page-width-container desktop">
    <div class="cirras-claims-base-container personnel flex-y" *ngIf="calculationDetail">
  
  
      <cirras-calculation-detail-header 
        [claimCalculationGuid]="claimCalculationGuid"
        [calculationDetail]="calculationDetail"
        [calculationComment]="calculationComment"
      ></cirras-calculation-detail-header>
  
  
      <form [formGroup]="getViewModel().formGroup"> 
        <div class="ccc-row-group ccc-row-group-bordered">
          <label>Claims Details</label>
          <div class="ccc-row">
            <span class="ccc-col-left">
              State: {{ calculationDetail.claimStatusCode }}  
              <br /> <br />
              Submitted By: 
                <span *ngIf="calculationDetail.claimStatusCode !== 'OPEN'">
                  {{ calculationDetail.submittedByName }}
                </span>
              <br/><br />
              Submitted Date: 
                <span *ngIf="calculationDetail.claimStatusCode !== 'OPEN'">                       
                {{ calculationDetail.submittedByDate | date:'yyyy-MM-dd' }}  
                </span>  
              <br/><br />
            </span>
            <span class="ccc-col-right">
              Primary Peril:
              <mat-form-field appearance="fill">
                <mat-select formControlName="primaryPerilCode" required >
                  <mat-option>(None)</mat-option>
                  <mat-option *ngFor="let option of perilCodeOptions" [value]="option.code">{{ option.description }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngIf="getViewModel().formGroup.get('primaryPerilCode').hasError('required')">{{ERROR_MESSAGES.required()}}</mat-error>
            </span>
          </div>
          <div class="ccc-row">
            <span class="ccc-col-left">                    
                Recommended By: {{ calculationDetail.recommendedByName }}
                <br/><br />
                Recommended Date: {{ calculationDetail.recommendedByDate | date:'yyyy-MM-dd' }}      
                <br/><br />
                Approved By: {{ calculationDetail.approvedByName }}
                <br/><br />
            </span>
            <span class="ccc-col-right">
                Secondary Peril:
                <mat-form-field appearance="fill">
                  <mat-select formControlName="secondaryPerilCode" >
                      <mat-option>(None)</mat-option>
                      <mat-option *ngFor="let option of perilCodeOptions" [value]="option.code"
                      >{{ option.description }}</mat-option>
                  </mat-select>
                </mat-form-field>
            </span>
          </div>
          <div class="ccc-row">
            <span class="ccc-col-left">                    
                Approved Date: {{ calculationDetail.approvedByDate | date:'yyyy-MM-dd' }}                   
            </span>
            <span class="ccc-col-right">                      
            </span>
          </div>
        </div>
  
        <div class="ccc-row-group ccc-row-group-bordered">
            <label>Quantity Coverage</label>
            <div class="ccc-container ccc-coverage-double">
              <div></div>
              <div ></div>
              <div class="ccc-right"><span class="right-space">Non-Pedigreed</span></div>
              <div class="ccc-right">Pedigreed</div>

              <div>
                <span class="ccc-expression">A</span> Acres
              </div>
              <div class="ccc-border-right">
              </div>
              <div class="ccc-border-right ccc-right"> 
                <span class="right-space">
                  {{ ( calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.insuredAcres : "") | number:'1.2-2' }}
                  <!-- TODO: warning icon -->
                </span>
              </div>
              <div class="ccc-right">                 
                {{ ( calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.insuredAcres : "") | number:'1.2-2' }}
                <!-- TODO: warning icon -->                
              </div>
    
              <div>
                <span class="ccc-expression">B</span> Probable Yield (Tonnes)
              </div>
              <div class="ccc-border-right">
              </div>
              <div class="ccc-border-right ccc-right"> 
                <span class="right-space">
                  {{ ( calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.probableYield : "") | number:'1.3-3' }}
                  <!-- TODO: warning icon -->
                </span>
              </div>
              <div class="ccc-right">
                {{ ( calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.probableYield : "") | number:'1.3-3' }}
                  <!-- TODO: warning icon -->
              </div>

              <div>
                <span class="ccc-expression">C</span> Deductible
              </div>
              <div class="ccc-border-right">
              </div>
              <div class="ccc-border-right ccc-right"> 
                <span class="right-space">
                  {{ ( calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.deductible : "") | number:'1.0-0' }}%
                  <!-- TODO: warning icon -->
                </span>
              </div>
              <div class="ccc-right">
                {{ ( calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.deductible : "") | number:'1.0-0' }}%
                  <!-- TODO: warning icon -->
              </div>

              <div>
                <span class="ccc-expression">D</span> Production Guarantee (Tonnes)
              </div>
              <div class="ccc-border-right">
              </div>
              <div class="ccc-border-right ccc-right"> 
                <span class="right-space">
                  {{ ( calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.productionGuaranteeWeight : "") | number:'1.0-0' }}
                  <!-- TODO: warning icon -->
                </span>
              </div>
              <div class="ccc-right">
                {{ ( calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.productionGuaranteeWeight : "") | number:'1.0-0' }}
                  <!-- TODO: warning icon -->
              </div>

              <div>
                <span class="ccc-expression">E</span> Insurable Value / Tonnes
              </div>
              <div class="ccc-border-right">
              </div>
              <div class="ccc-border-right ccc-right"> 
                <span class="right-space">
                  {{ ( calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.insurableValue : "") | number:'1.2-2' }}
                  <!-- TODO: warning icon -->
                </span>
              </div>
              <div class="ccc-right">
                {{ ( calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.insurableValue : "") | number:'1.2-2' }}
                <!-- TODO: warning icon -->
              </div>
  
              <div>
                <span class="ccc-expression">F</span> Coverage Value
              </div>
              <div class="ccc-border-right"></div>
              <div class="ccc-border-right ccc-right ccc-border-bottom"> 
                <span class="right-space">
                  {{ ( calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.coverageValue : "" ) | currency }}
                  <!-- TODO: warning icon -->
                </span>
              </div>
              <div class="ccc-right ccc-border-bottom">
                {{ ( calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.coverageValue : "" ) | currency }}
                <!-- TODO: warning icon -->
              </div>

              <div>
                <span class="ccc-expression">G</span> Total Pedigreed and Non-Pedigreed Seeds Coverage Value
              </div>
              <div class="ccc-border-right ccc-right">
                <span class="ccc-expression">Sum of F</span>
              </div>
              <div></div>
              <div class="ccc-right" >
                {{ totalCoverageValue |  currency }} 
              </div>

          </div>
        </div>


        <div class="ccc-row-group ccc-row-group-bordered">
          <label>Yield Loss Determination</label>
          <div class="ccc-container ccc-coverage-double">
          
          <div></div>
          <div ></div>
          <div class="ccc-right"><span class="right-space">Non-Pedigreed</span></div>
          <div class="ccc-right">Pedigreed</div>


          <div>
            <span class="ccc-expression">H</span> Total Yield Harvested and Appraised (Tonnes)
          </div>
          <div class="ccc-expression ccc-border-right">           
          </div>
          <div class="ccc-fill ccc-number-double ccc-border-right"> 
            <mat-form-field appearance="fill">
              <input matInput formControlName="totalYieldToCountNonPedigree" (keypress)="numberOnly($event)" maxlength="14">
            </mat-form-field> 
            <!-- TODO: warning if yield  out of sync -->
          </div>
          <div class="ccc-fill ccc-number-double ccc-border-right">
            <mat-form-field appearance="fill">
              <input matInput formControlName="totalYieldToCountPedigree" (keypress)="numberOnly($event)" maxlength="14">
            </mat-form-field> 
            <!-- TODO: warning if yield  out of sync -->
          </div>

          <div>
            <span class="ccc-expression">I</span> Less Assessed Yield (Tonnes) for:
          </div>
          <div class="ccc-border-right"></div>
          <div class="ccc-fill ccc-number ccc-border-right"> 
            <span class="right-space">
              {{ ( calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.assessedYield : "" ) | number:'1.2-2' }}
            </span>
          </div> 
          <div class="ccc-right">
            {{ ( calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.assessedYield : "" ) | number:'1.2-2' }}
          </div>

          <div>
            <span class="ccc-expression">J</span> Production Guarantee - Assessment(s) Value 
          </div>
          <div class="ccc-border-right ccc-right">
            <span class="ccc-expression">( D - I ) x E</span>
          </div>  
          <div class="ccc-fill ccc-number ccc-border-right ccc-border-bottom"> 
            <span class="right-space">
              {{  prodGuaranteeMinusAssessmentsNonPedigree | number:'1.2-2' }}
            </span>
          </div> 
          <div class="ccc-right ccc-border-bottom">
            {{ prodGuaranteeMinusAssessmentsPedigree | number:'1.2-2' }}
          </div>

          <div>
            <span class="ccc-expression">K</span> Total ( Production Guarantee - Assessment(s) Value )
          </div>
          <div class="ccc-border-right ccc-right">
            <span class="ccc-expression">Sum of J</span>
          </div>  
          <div></div>
          <div class="ccc-right ccc-border-right"> 
            <span class="right-space">
              {{ productionGuaranteeAmount | number:'1.2-2'  }} 
            </span>
          </div>
           
          <div>
            <span class="ccc-expression">L</span> Less Early Establishment Deemed Yield Value
          </div>
          <div class="ccc-border-right ccc-right">
            <span class="ccc-expression">B x F</span>
          </div>
          <div class="ccc-fill ccc-number-double ccc-border-right">
            <mat-form-field appearance="fill">
              <input matInput formControlName="earlyEstDeemedYieldValueNonPedigree" (keypress)="numberOnly($event)" maxlength="14">
            </mat-form-field>
          </div>
          <div class="ccc-fill ccc-number-double ccc-border-right">
            <mat-form-field appearance="fill">
              <input matInput formControlName="earlyEstDeemedYieldValuePedigree" (keypress)="numberOnly($event)" maxlength="14">
            </mat-form-field>
          </div>
           
          <div>
            <span class="ccc-expression" style="margin-right: 20px;">M</span> Damaged Acres
          </div>
          <div class="ccc-border-right"></div>
          <div class="ccc-fill ccc-number-double ccc-border-right">
             <mat-form-field appearance="fill">
              <input matInput formControlName="damagedAcresNonPedigree" (keypress)="numberOnly($event)" maxlength="14">
            </mat-form-field>
          </div>
          <div class="ccc-fill ccc-number-double">
            <mat-form-field appearance="fill">
              <input matInput formControlName="damagedAcresPedigree" (keypress)="numberOnly($event)" maxlength="14">
            </mat-form-field>
          </div>

          <div>
            <span class="ccc-expression" style="margin-right: 20px;">N</span> Acres Seeded
          </div>
          <div class="ccc-border-right"></div>
          <div class="ccc-fill ccc-number-double ccc-border-right">
            <mat-form-field appearance="fill">
              <input matInput formControlName="seededAcresNonPedigree" (keypress)="numberOnly($event)" maxlength="14">
            </mat-form-field>
          </div>
          <div class="ccc-fill ccc-number-double">
            <mat-form-field appearance="fill">
              <input matInput formControlName="seededAcresPedigree" (keypress)="numberOnly($event)" maxlength="14">
            </mat-form-field>
          </div>

          <div>
            <span class="ccc-expression" style="margin-right: 20px;">O</span>50% of Production Guarantee
          </div>
          <div class="ccc-border-right ccc-right">
            <span class="ccc-expression">D x 50%</span>
          </div>
          <div class="ccc-right ccc-border-right"> 
            <span class="right-space">
              {{ fiftyPercentProductionGuaranteeNonPedigree | number:'1.2-2'  }} 
            </span>
          </div>
          <div class="ccc-right">
            {{ fiftyPercentProductionGuaranteePedigree | number:'1.2-2' }}
          </div>

          <div>
            <span class="ccc-expression" style="margin-right: 20px;">P</span>Calculated Early Establishment Yield
          </div>
          <div class="ccc-border-right ccc-right">
            <span class="ccc-expression">O x ( M / N )</span>
          </div>
          <div class="ccc-right ccc-border-right"> 
            <span class="right-space">
              {{ calcEarlyEstYieldNonPedigree | number:'1.2-2'  }} 
            </span>
          </div>
          <div class="ccc-right">
            {{ calcEarlyEstYieldPedigree | number:'1.2-2' }}
          </div>

          <div>
            <span class="ccc-expression" style="margin-right: 20px;">Q</span> Inspected Early Establishment Yield
          </div>
          <div class="ccc-border-right"></div>
          <div class="ccc-fill ccc-number-double ccc-border-right">
            <mat-form-field appearance="fill">
              <input matInput formControlName="inspEarlyEstYieldNonPedigree" (keypress)="numberOnly($event)" maxlength="14">
            </mat-form-field>
          </div>
          <div class="ccc-fill ccc-number-double">
            <mat-form-field appearance="fill">
              <input matInput formControlName="inspEarlyEstYieldPedigree" (keypress)="numberOnly($event)" maxlength="14">
            </mat-form-field>
          </div>

          <div>
            <span class="ccc-expression">R</span> Yield Value
          </div>
          <div class="ccc-border-right ccc-right">
            <span class="ccc-expression">H * E</span>
          </div>
          <div class="ccc-fill ccc-number ccc-border-right"> 
            <span class="right-space">
              {{ yieldValueNonPedigree | number:'1.2-2' }}
            </span>
          </div> 
          <div class="ccc-right">
            {{ yieldValuePedigree | number:'1.2-2' }}
          </div>
  
          <div>
            <span class="ccc-expression">S</span> Yield Value + Early Establishment Deemed Yield
          </div>
          <div class="ccc-border-right ccc-right">
            <span class="ccc-expression">R + L</span>
          </div>
          <div class="ccc-fill ccc-number ccc-border-right ccc-border-bottom"> 
            <span class="right-space">
              {{ yieldValueWithEarlyEstDeemedYieldNonPedigree | number:'1.2-2' }}
            </span>
          </div> 
          <div class="ccc-right ccc-border-bottom">
            {{ yieldValueWithEarlyEstDeemedYieldPedigree | number:'1.2-2' }}
          </div>
          
          <div>
            <span class="ccc-expression">T</span> Total Pedigreed and Non-Pedigreed Seeds Yield Loss Value
          </div>
          <div class="ccc-border-right ccc-right">
            <span class="ccc-expression">K - Sum of S</span>
          </div>
          <div></div> 
          <div class="ccc-right">
            {{ totalYieldLossValue | number:'1.2-2' }}
          </div>
  
        </div>
        </div>


        <div class="ccc-row-group ccc-row-group-bordered">
          <label>Claim Determination</label>
          <div class="ccc-container ccc-coverage">

          <div>
            <span class="ccc-expression">U</span> Reseed Claim
          </div>
          <div class="ccc-border-right ccc-right">           
          </div>
          <div class="ccc-right"> 
            {{ calculationDetail.claimCalculationGrainQuantity.reseedClaim |  number:'1.2-2'  }} 
          </div>
  
          <div>
            <span class="ccc-expression">V</span> Maximum Claim Payable
          </div>
          <div class="ccc-border-right ccc-right">
            <span class="ccc-expression">G - U</span>
          </div>
          <div class="ccc-right"> 
            {{ calculationDetail.claimCalculationGrainQuantity.maxClaimPayable |  number:'1.2-2'  }} 
          </div> 
  
          <div>
            <span class="ccc-expression">W</span> Total Quantity Loss
          </div>
          <div class="ccc-border-right ccc-right">
            <span class="ccc-expression">T</span>
          </div>
          <div class="ccc-right">
            {{ totalYieldLossValue | number:'1.2-2'  }} 
          </div>
  
          <div>
            <span class="ccc-expression">X</span> Less Advanced Claim(s)
          </div>
          <div class="ccc-border-right ccc-right">
            <span class="ccc-expression"></span>
          </div>
          <div class="ccc-fill ccc-number">
             <mat-form-field appearance="fill">
              <input matInput formControlName="advancedClaim" (keypress)="numberOnly($event)" maxlength="14">
            </mat-form-field>
          </div>

          <div>
            <span class="ccc-expression">Y</span> Quantity Loss Claim
          </div>
          <div class="ccc-border-right ccc-right">
            <span class="ccc-expression">Lesser of V or W</span>
          </div>
          <div class="ccc-right">
            {{ quantityLossClaim | number:'1.0-0'  }}
          </div>



          <div>
            <span class="ccc-expression">Z</span> Total Claim Amount
          </div>
          <div class="ccc-border-right ccc-right">
            <span class="ccc-expression"></span>
          </div>
          <div class="ccc-fill ccc-number">
             <mat-form-field appearance="fill">
              <input matInput formControlName="totalClaimAmount" (keypress)="numberOnly($event)" maxlength="14">
            </mat-form-field>
          </div>
  
        </div>
        </div>
        


        <div class="ccc-row-group ccc-row-group-bordered">
            <label>Comments</label>
            <div class="ccc-entire">
                <mat-form-field appearance="fill">
                    <textarea matInput formControlName="calculationComment" rows="4" maxlength="1000" (keyup)="setComment()">{{ calculationDetail.calculationComment }} </textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="ccc-row-group">
          <div class="ccc-row">
            <span class="ccc-col-left">
              <button mat-raised-button color="primary" 
                (click)="onCancel()"
              ><mat-icon style="padding-right: 4px;">cancel_presentation</mat-icon>Discard Changes / Reload</button>
            </span>
  
            <!-- <span class="ccc-col-right">
              <button mat-raised-button color="primary"
                *ngIf="securityUtilService.doesUserHaveScope(SCOPES_UI.FINALIZE_CALCULATION) && showSubmitButton() "
                (click)="onSubmit()"
              ><mat-icon style="padding-right: 4px;">save_alt</mat-icon>Submit</button>
              &nbsp;
              <button mat-raised-button color="primary"
              *ngIf="securityUtilService.doesUserHaveScope(SCOPES_UI.UPDATE_CALCULATION) && showReopenButton() "
                (click)="onReopen()"
              ><mat-icon style="padding-right: 4px;">edit</mat-icon>Re-Open Calculation</button>
              &nbsp;
              <button mat-raised-button color="primary"
                  *ngIf="securityUtilService.doesUserHaveScope(SCOPES_UI.UPDATE_CALCULATION) && calculationDetail.calculationStatusCode === 'DRAFT'"
                  (click)="onSave(false)"
              ><mat-icon style="padding-right: 4px;">save</mat-icon>Save</button>
              &nbsp;
              <button mat-raised-button color="primary"
                  *ngIf="securityUtilService.doesUserHaveScope(SCOPES_UI.UPDATE_CALCULATION) && calculationDetail.calculationStatusCode !== 'DRAFT'"
                  (click)="onSave(true)"
              ><mat-icon style="padding-right: 4px;">save</mat-icon>Save Comments</button>
              &nbsp;
              <button mat-raised-button color="primary"
                *ngIf="securityUtilService.doesUserHaveScope(SCOPES_UI.PRINT_CALCULATION) && calculationDetail.claimCalculationGuid"
                  (click)="onPrint()"
              ><mat-icon style="padding-right: 4px;">print</mat-icon>Print</button>
            </span>  -->
            
          </div>
        </div>
      </form>
    </div>
  </div>
  

