<cirras-calculation-printout-logo></cirras-calculation-printout-logo>

<table id="outbox-table" *ngIf="calculationDetail && calculationDetail.claimCalculationGrainQuantityDetail">
  
  <tbody>
    <tr id="outbox-tr">
      <td id="outbox-td">
        <div class="page" style="line-height: 1.3; margin-top: 0px; padding-top: 0px;">

          <cirras-calculation-printout-header 
            [calculationDetail]="calculationDetail"
          ></cirras-calculation-printout-header>

              <div class="print-page-break-inside">
                
                <div style="padding-left: 12px; font-weight: bold;">
                  <span>Quantity Coverage - From Statement of Premiums and Coverages</span>
                  <span *ngIf="showNonPedigreeColumn && showPedigreeColumn" style="float: right; padding-right: 15px; font-size: 10px;">
                    Non-Pedigreed &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Pedigreed                     
                  </span>
                </div>
                
                <div style="margin-left: 10px; margin-bottom: 10px; margin-right: 10px; margin-top: 3px; padding: 0px; border-radius: 0px; border: none">
                  <table>
                    <tbody>
                      <tr>
                        <td class="td-abc-label">A</td>
                        <td style="padding-left: 10px;">Acres</td>
                        <td *ngIf="showNonPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ (calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.insuredAcres ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.insuredAcres : "") | number:'1.2-2' }}</td>
                        <td *ngIf="showPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ (calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail.insuredAcres ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.insuredAcres : "") | number:'1.2-2' }}</td>
                      </tr>
                      <tr>
                        <td class="td-abc-label">B</td>
                        <td style="padding-left: 10px;">Probable Yield</td>
                        <td *ngIf="showNonPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.probableYield ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.probableYield : "" ) | number:'1.3-3' }}</td>
                        <td *ngIf="showPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail.probableYield ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.probableYield : "" )  | number:'1.3-3' }}</td>
                      </tr>
                      <tr>
                        <td class="td-abc-label">C</td>
                        <td style="padding-left: 10px;">Deductible</td>
                        <td *ngIf="showNonPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.deductible ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.deductible : "" ) | number:'1.0-0' }}</td>
                        <td *ngIf="showPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail.deductible ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.deductible : "" )  | number:'1.0-0' }}</td>
                      </tr>
                      <tr>
                        <td class="td-abc-label">D</td>
                        <td style="padding-left: 10px;">Production Guarantee</td>
                        <td *ngIf="showNonPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.productionGuaranteeWeight ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.productionGuaranteeWeight : "" ) | number:'1.0-0' }}</td>
                        <td *ngIf="showPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail.productionGuaranteeWeight ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.productionGuaranteeWeight : "" )  | number:'1.0-0' }}</td>
                      </tr>
                      <tr>
                        <td class="td-abc-label">E</td>
                        <td style="padding-left: 10px;">Insurable Value</td>
                        <td *ngIf="showNonPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.insurableValue ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.insurableValue : "" ) | number:'1.2-2' }}</td>
                        <td *ngIf="showPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail.insurableValue ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.insurableValue : "" )  | number:'1.2-2' }}</td>
                      </tr>
                      <tr>
                        <td class="td-abc-label">F</td>
                        <td style="padding-left: 10px;">Coverage Value</td>
                        <td *ngIf="showNonPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.coverageValue ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.coverageValue : "" ) | currency }}</td>
                        <td *ngIf="showPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail.coverageValue ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.coverageValue : "" )  | currency }}</td>
                      </tr>
                      <tr *ngIf="showNonPedigreeColumn && showPedigreeColumn">
                        <td class="td-abc-label">G</td>
                        <td style="padding-left: 10px;">
                          Total Pedigreed and Non-Pedigreed Seeds Coverage Value
                          <span style="float: right; padding-right: 10px; letter-spacing: 3px;">Sum of F</span>
                        </td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;"></td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;">{{ this.calculationDetail.claimCalculationGrainQuantity.totalCoverageValue  | currency }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="print-page-break-inside">
                <div style="padding-left: 10px; font-weight: bold;">Yield Loss Determination</div>
                <div style="margin-left: 10px; margin-bottom: 10px; margin-right: 10px; margin-top: 3px; padding: 0px; border-radius: 0px; border: none">
                  <table>
                    <tbody>
                      <tr>
                        <td class="td-abc-label">
                          {{ isLinked() ? "H" : "G" }}
                        </td>
                        <td style="padding-left: 10px;">Total Yield Harvested and Appraised (Tonnes)</td>
                        <td *ngIf="showNonPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ (calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.totalYieldToCount ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.totalYieldToCount : "") | number:'1.3-3' }}</td>
                        <td *ngIf="showPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ (calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail.totalYieldToCount ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.totalYieldToCount : "") | number:'1.3-3' }}</td>
                      </tr>
                      <tr>
                        <td class="td-abc-label">
                          {{ isLinked() ? "I" : "H" }}
                        </td>
                        <td style="padding-left: 10px;">Less Assessed Yield (Tonnes)</td>
                        <td *ngIf="showNonPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.assessedYield ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.assessedYield : "" ) | number:'1.3-3' }}</td>
                        <td *ngIf="showPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail.assessedYield ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.assessedYield : "" )  | number:'1.3-3' }}</td>
                      </tr>
                      <tr>
                        <td class="td-abc-label">
                          {{ isLinked() ? "J" : "I" }}
                        </td>
                        <td style="padding-left: 10px;">
                          Production Guarantee - Assessment(s) Value
                          <span style="float: right; padding-right: 10px; letter-spacing: 3px;">
                            {{ isLinked() ? "(D-I)xE" : "(D-H)xE" }}
                          </span>
                        </td>
                        <td *ngIf="showNonPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( prodGuaranteeMinusAssessmentsNonPedigree ? prodGuaranteeMinusAssessmentsNonPedigree : "" ) | number:'1.2-2' }}</td>
                        <td *ngIf="showPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( prodGuaranteeMinusAssessmentsPedigree ? prodGuaranteeMinusAssessmentsPedigree : "" )  | number:'1.2-2' }}</td>
                      </tr>
                      <tr *ngIf="showNonPedigreeColumn && showPedigreeColumn">
                        <td class="td-abc-label">K</td>
                        <td style="padding-left: 10px;">
                          Total ( Production Guarantee - Assessment(s) Value )
                          <span style="float: right; padding-right: 10px; letter-spacing: 3px;">Sum of J</span>
                        </td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;"></td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;">{{ calculationDetail.claimCalculationGrainQuantity.productionGuaranteeAmount | number:'1.2-2' }}</td>
                      </tr>
                      <tr>
                        <td class="td-abc-label">
                          {{ isLinked() ? "L" : "J" }}
                        </td>
                        <td style="padding-left: 10px;">
                          Less Early Establishment Deemed Yield Value
                          <span *ngIf="showYieldRows" style="float: right; padding-right: 10px; letter-spacing: 3px;">
                            {{ isLinked() ? "(Q or P)xE" : "(O or N)xE" }}
                          </span>
                        </td>
                        <td *ngIf="showNonPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.earlyEstDeemedYieldValue ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.earlyEstDeemedYieldValue : "" ) | number:'1.2-2' }}</td>
                        <td *ngIf="showPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail.earlyEstDeemedYieldValue ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.earlyEstDeemedYieldValue : "" )  | number:'1.2-2' }}</td>
                      </tr>
                      <!-- possibly hidden lines -->
                      <tr *ngIf="showYieldRows">
                        <td class="td-abc-label">
                          {{ isLinked() ? "M" : "K" }}
                        </td>
                        <td style="padding-left: 20px;">Damaged Acres</td>
                        <td *ngIf="showNonPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.damagedAcres ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.damagedAcres : "" ) | number:'1.1-1' }}</td>
                        <td *ngIf="showPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail.damagedAcres ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.damagedAcres : "" )  | number:'1.1-1' }}</td>
                      </tr>
                      <tr *ngIf="showYieldRows">
                        <td class="td-abc-label">
                          {{ isLinked() ? "N" : "L" }}
                        </td>
                        <td style="padding-left: 20px;">Acres Seeded</td>
                        <td *ngIf="showNonPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.seededAcres ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.seededAcres : "" ) | number:'1.1-1' }}</td>
                        <td *ngIf="showPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail.seededAcres ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.seededAcres : "" )  | number:'1.1-1' }}</td>
                      </tr>
                      <tr *ngIf="showYieldRows">
                        <td class="td-abc-label">
                          {{ isLinked() ? "O" : "M" }}
                        </td>
                        <td style="padding-left: 20px;">
                          50% of Production Guarantee
                          <span style="float: right; padding-right: 10px; letter-spacing: 3px;">Dx50%</span>
                        </td>
                        <td *ngIf="showNonPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.fiftyPercentProductionGuarantee ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.fiftyPercentProductionGuarantee : "" ) | number:'1.2-2' }}</td>
                        <td *ngIf="showPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail.fiftyPercentProductionGuarantee ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.fiftyPercentProductionGuarantee : "" )  | number:'1.2-2' }}</td>
                      </tr>
                      <tr *ngIf="showYieldRows">
                        <td class="td-abc-label">
                          {{ isLinked() ? "P" : "N" }}
                        </td>
                        <td style="padding-left: 20px;">
                          Calculated Early Establishment Yield
                          <span style="float: right; padding-right: 10px; letter-spacing: 3px;">
                            {{ isLinked() ? "Ox(M/N)" : "Mx(K/L)" }}
                          </span>
                        </td>
                        <td *ngIf="showNonPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.calcEarlyEstYield ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.calcEarlyEstYield : "" ) | number:'1.3-3' }}</td>
                        <td *ngIf="showPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail.calcEarlyEstYield ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.calcEarlyEstYield : "" )  | number:'1.3-3' }}</td>
                      </tr>
                      <tr *ngIf="showYieldRows">
                        <td class="td-abc-label">
                          {{ isLinked() ? "Q" : "O" }}
                        </td>
                        <td style="padding-left: 20px;">
                          Inspected Early Establishment Yield
                        </td>
                        <td *ngIf="showNonPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.inspEarlyEstYield ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.inspEarlyEstYield : "" ) | number:'1.3-3' }}</td>
                        <td *ngIf="showPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail.inspEarlyEstYield ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.inspEarlyEstYield : "" )  | number:'1.3-3' }}</td>
                      </tr>
                      <!-- end hidden rows -->
                      <tr>
                        <td class="td-abc-label">
                          {{ getYieldValueLetter() }}
                        </td>
                        <td style="padding-left: 10px;">
                          Yield Value
                          <span style="float: right; padding-right: 10px; letter-spacing: 3px;">
                            {{ isLinked() ? "HxE" : "GxE" }}                            
                          </span>
                        </td>
                        <td *ngIf="showNonPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.yieldValue ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.yieldValue : "" ) | number:'1.2-2' }}</td>
                        <td *ngIf="showPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail.yieldValue ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.yieldValue : "" )  | number:'1.2-2' }}</td>
                      </tr>
                      <tr>
                        <td class="td-abc-label">
                          {{ getYieldValuePlusEarlyEstLetter() }}
                          </td>
                        <td style="padding-left: 10px;">
                          Yield Value + Early Establishment Deemed Yield
                          <span style="float: right; padding-right: 10px; letter-spacing: 3px;">
                            {{ (isLinked() && showYieldRows ) ? "R+L" : ( ( isLinked() && !showYieldRows ) ? "M+L" : "K+J") }}
                            </span>
                        </td>
                        <td *ngIf="showNonPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.yieldValueWithEarlyEstDeemedYield ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.yieldValueWithEarlyEstDeemedYield : "" ) | number:'1.2-2' }}</td>
                        <td *ngIf="showPedigreeColumn" style="text-align: right; padding-right: 10px; width: 100px;">{{ ( calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail.yieldValueWithEarlyEstDeemedYield ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.yieldValueWithEarlyEstDeemedYield : "" )  | number:'1.2-2' }}</td>
                      </tr>
                      <tr *ngIf="showNonPedigreeColumn && showPedigreeColumn">
                        <td class="td-abc-label">
                          {{ showYieldRows ? "T" : "O" }}
                        </td>
                        <td style="padding-left: 10px;">
                          Total Pedigreed and Non-Pedigreed Seeds Yield Loss Value
                          <span style="float: right; padding-right: 10px; letter-spacing: 3px;">
                            {{ showYieldRows ? "K - Sum of S" : "K - Sum of N" }}
                          </span>
                        </td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;"></td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;">{{ calculationDetail.claimCalculationGrainQuantity.totalYieldLossValue | number:'1.2-2' }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>    
              </div>
          
              <div class="print-page-break-inside">
                <div style="padding-left: 10px; font-weight: bold;">Claim Determination</div>
                <div style="margin-left: 10px; margin-bottom: 10px; margin-right: 10px; margin-top: 3px; padding: 0px; border-radius: 0px; border: none">
                  <table>
                    <tbody>
                      <tr>
                        <td class="td-abc-label">{{ setLetter("U") }}</td>
                        <td><span style="padding-left: 10px;">Reseed Claim</span></td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;">{{ calculationDetail.claimCalculationGrainQuantity.reseedClaim | number:'1.2-2'  }}</td>
                      </tr>
                      <tr>
                        <td class="td-abc-label">{{ setLetter("V") }}</td>
                        <td>
                          <span style="padding-left: 10px;">Maximum Claim Payable</span>
                          <span style="float: right; padding-right: 10px; letter-spacing: 3px;">
                            {{ isLinked() ? "G" : "F"}}-{{ setLetter("U") }}
                          </span>
                        </td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;">{{ calculationDetail.claimCalculationGrainQuantity.maxClaimPayable | number:'1.2-2' }}</td>
                      </tr>
                      <tr>
                        <td class="td-abc-label">{{ setLetter("W") }}</td>
                        <td>
                          <span style="padding-left: 10px;">Total Quantity Loss</span>
                          <span style="float: right; padding-right: 10px; letter-spacing: 3px;">
                            {{ ( isLinked() ? setLetter("T") : (showYieldRows ? "I-Q" : "I-L") )}}</span>
                        </td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;">{{ calculationDetail.claimCalculationGrainQuantity.totalYieldLossValue | number:'1.2-2' }}</td>
                      </tr>
                      <tr>
                        <td class="td-abc-label">{{ setLetter("X") }}</td>
                        <td>
                          <span style="padding-left: 10px;">Less Advanced Claim(s)</span>
                        </td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;">{{ calculationDetail.claimCalculationGrainQuantity.advancedClaim | number:'1.2-2' }}</td>
                      </tr>
                      <tr>
                        <td class="td-abc-label">{{ setLetter("Y") }}</td>
                        <td>
                          <span style="padding-left: 10px;">Quantity Loss Claim</span>
                          <span style="float: right; padding-right: 10px; letter-spacing: 3px;">Lesser of ({{ setLetter("V") }} or {{ setLetter("W") }}) - {{ setLetter("X") }}</span>
                        </td>
                        <td style="text-align: right; padding-right: 10px; width: 100px;">{{ calculationDetail.claimCalculationGrainQuantity.quantityLossClaim | number:'1.2-2' }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>    
              </div>

              <cirras-calculation-printout-footer 
                [calculationDetail]="calculationDetail"
              ></cirras-calculation-printout-footer>
           
        </div>
      </td>
    </tr>
  </tbody>
</table>


