<div class="cirras-claims-base-container page-width-container desktop">
    <div class="cirras-claims-base-container personnel flex-y" *ngIf="calculationDetail">
  
      <cirras-calculation-detail-header *ngIf=" calculationDetail"
        [calculationDetail]="calculationDetail"
        [calculationComment]="calculationComment"
      ></cirras-calculation-detail-header>
  
      <form [formGroup]="getViewModel().formGroup"> 
        <div class="ccc-row-group ccc-row-group-bordered">
          <label>Claims Details</label>
          <div class="ccc-row">
            <span class="ccc-col-left">
              State: {{ calculationDetail.claimStatusCode }}  
              <br /> <br />
              Submitted By: 
                <span *ngIf="calculationDetail.claimStatusCode !== 'OPEN'">
                  {{ calculationDetail.submittedByName }}
                </span>
              <br/><br />
              Submitted Date: 
                <span *ngIf="calculationDetail.claimStatusCode !== 'OPEN'">                       
                {{ calculationDetail.submittedByDate | date:'yyyy-MM-dd' }}  
                </span>  
              <br/><br />
            </span>
            <span class="ccc-col-right">
              Primary Peril:
              <mat-form-field appearance="fill">
                <mat-select formControlName="primaryPerilCode" required (selectionChange)="isMyFormDirty()">
                  <mat-option>(None)</mat-option>
                  <mat-option *ngFor="let option of perilCodeOptions" [value]="option.code">{{ option.description }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngIf="getViewModel().formGroup.get('primaryPerilCode').hasError('required')">{{ERROR_MESSAGES.required()}}</mat-error>
            </span>
          </div>
          <div class="ccc-row">
            <span class="ccc-col-left">                    
                Recommended By: {{ calculationDetail.recommendedByName }}
                <br/><br />
                Recommended Date: {{ calculationDetail.recommendedByDate | date:'yyyy-MM-dd' }}      
                <br/><br />
                Approved By: {{ calculationDetail.approvedByName }}
                <br/><br />
            </span>
            <span class="ccc-col-right">
                Secondary Peril:
                <mat-form-field appearance="fill">
                  <mat-select formControlName="secondaryPerilCode" (selectionChange)="isMyFormDirty()">
                      <mat-option>(None)</mat-option>
                      <mat-option *ngFor="let option of perilCodeOptions" [value]="option.code"
                      >{{ option.description }}</mat-option>
                  </mat-select>
                </mat-form-field>
            </span>
          </div>
          <div class="ccc-row">
            <span class="ccc-col-left">                    
                Approved Date: {{ calculationDetail.approvedByDate | date:'yyyy-MM-dd' }}                   
            </span>
            <span class="ccc-col-right">                      
            </span>
          </div>
        </div>
  
        <div class="ccc-row-group ccc-row-group-bordered">
            <label>Grain Basket Coverage - From Statement of Premiums and Coverages</label>
            <div class="ccc-container" style="grid-template-columns: 3fr 1fr 1fr">
              <div></div>
              <div class="ccc-right"><span class="right-space">Deductible</span></div>
              <div class="ccc-right">Coverage</div>

              <div>
                <span class="ccc-expression">A</span> Grain Basket
              </div>
              <div class="ccc-border-right ccc-right"> 
                <span class="right-space">
                  {{ ( calculationDetail && calculationDetail.claimCalculationGrainBasket ? calculationDetail.claimCalculationGrainBasket.grainBasketDeductible : "") | number:'1.0-0' }}
                  <!-- <span #el matTooltip="Acres don't match with CIRRAS" 
                    *ngIf="calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.isOutOfSyncInsuredAcres" style="margin-left: 10px;">
                    <mat-icon [ngStyle]="{'color':'orange'}">warning</mat-icon>
                  </span> -->
                </span>
              </div>
              <div class="ccc-right">                 
                {{ ( calculationDetail && calculationDetail.claimCalculationGrainBasket ? calculationDetail.claimCalculationGrainBasket.grainBasketCoverageValue : "") | currency }}
                <!-- <span #el matTooltip="Acres don't match with CIRRAS" *ngIf="calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail.isOutOfSyncInsuredAcres" style="margin-left: 10px;">
                    <mat-icon [ngStyle]="{'color':'orange'}">warning</mat-icon>
                  </span> -->
              </div>

              <div>
                <span class="ccc-expression">B</span> Quantity Coverage For All Commodities
              </div>
              <div></div>
              <div class="ccc-right">                 
                {{ ( calculationDetail && calculationDetail.claimCalculationGrainBasket ? calculationDetail.claimCalculationGrainBasket.quantityTotalCoverageValue : "") | currency }}
                <!-- <span #el matTooltip="Acres don't match with CIRRAS" *ngIf="calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail.isOutOfSyncInsuredAcres" style="margin-left: 10px;">
                    <mat-icon [ngStyle]="{'color':'orange'}">warning</mat-icon>
                  </span>-->
              </div>

              <div>
                <span class="ccc-expression">C</span> Total Yield Coverage
              </div>
              <div></div>
              <div class="ccc-right">                 
                {{ ( calculationDetail && calculationDetail.claimCalculationGrainBasket ? calculationDetail.claimCalculationGrainBasket.totalYieldCoverageValue : "") | currency }}
                <!-- <span #el matTooltip="Acres don't match with CIRRAS" *ngIf="calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail.isOutOfSyncInsuredAcres" style="margin-left: 10px;">
                    <mat-icon [ngStyle]="{'color':'orange'}">warning</mat-icon>
                  </span>-->
              </div>

            </div>
        </div>
        


        <!-- <div class="ccc-row-group ccc-row-group-bordered">
          <label>Yield Loss Determination</label>
          <div class="ccc-container" [ngStyle]="setStyles()">
          
          <div *ngIf="showNonPedigreeColumn && showPedigreeColumn"></div>
          <div *ngIf="showNonPedigreeColumn && showPedigreeColumn"></div>
          <div *ngIf="showNonPedigreeColumn && showPedigreeColumn" class="ccc-right"><span class="right-space">Non-Pedigreed</span></div>
          <div *ngIf="showNonPedigreeColumn && showPedigreeColumn"class="ccc-right">Pedigreed</div>

          <div>
            <span class="ccc-expression">H</span> 
              <a (click)="goToVerifiedYield()" style="cursor: pointer;" matTooltip="Open Verified Yield in a new tab.">
                Total Yield Harvested and Appraised (Tonnes)
                <mat-icon style="vertical-align: middle;">info</mat-icon>
              </a>
          </div>
          <div class="ccc-expression ccc-border-right">           
          </div>
          <div *ngIf="showNonPedigreeColumn" class="ccc-right ccc-border-right"> 
            <span class="right-space">
              {{ ( calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail ? calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.totalYieldToCount : "" ) | number:'1.3-3' }}
              <span #el matTooltip="Total Yield Harvested doesn't match with the Total Yield To Count in the Underwriting App" *ngIf="calculationDetailNonPedigree && calculationDetailNonPedigree.claimCalculationGrainQuantityDetail.isOutOfSyncTotalYieldToCount" style="margin-left: 10px;">
                <mat-icon [ngStyle]="{'color':'orange'}">warning</mat-icon>
              </span>
            </span>
          </div> 
          <div *ngIf="showPedigreeColumn" class="ccc-right">
            {{ ( calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail ? calculationDetailPedigree.claimCalculationGrainQuantityDetail.totalYieldToCount : "" ) | number:'1.3-3' }}
            <span #el matTooltip="Total Yield Harvested doesn't match with the Total Yield To Count in the Underwriting App" *ngIf="calculationDetailPedigree && calculationDetailPedigree.claimCalculationGrainQuantityDetail.isOutOfSyncTotalYieldToCount" style="margin-left: 10px;">
              <mat-icon [ngStyle]="{'color':'orange'}">warning</mat-icon>
            </span>
          </div>

          <div>
            <span class="ccc-expression">I</span> Less Assessed Yield (Tonnes) for:
          </div>
          <div class="ccc-border-right"></div>
          <div *ngIf="showNonPedigreeColumn" class="ccc-fill ccc-number-double ccc-border-right"> 
            <mat-form-field appearance="fill">
              <input matInput formControlName="assessedYieldNonPedigree" 
                (keypress)="numberOnly($event)"
                (blur)="roundUpToPrecision('assessedYieldNonPedigree',3);isMyFormDirty();" 
                maxlength="14"> 
            </mat-form-field> 
          </div>
          <div *ngIf="showPedigreeColumn" class="ccc-fill ccc-number-double ccc-border-right">
            <mat-form-field appearance="fill">
              <input matInput formControlName="assessedYieldPedigree" maxlength="14"
                (keypress)="numberOnly($event)" 
                (blur)="roundUpToPrecision('assessedYieldPedigree',3); isMyFormDirty();">
            </mat-form-field> 
          </div>        

          <div>
            <span class="ccc-expression">J</span> Production Guarantee - Assessment(s) Value 
          </div>
          <div class="ccc-border-right ccc-right">
            <span class="ccc-expression">( D - I ) x E</span>
          </div>  
          <div *ngIf="showNonPedigreeColumn" class="ccc-right ccc-border-right"> 
            <span class="right-space">
              {{  prodGuaranteeMinusAssessmentsNonPedigree | number:'1.2-2' }}
            </span>
          </div> 
          <div *ngIf="showPedigreeColumn" class="ccc-right">
            {{ prodGuaranteeMinusAssessmentsPedigree | number:'1.2-2' }}
          </div>

          <div *ngIf="showNonPedigreeColumn && showPedigreeColumn">
            <span class="ccc-expression">K</span> Total ( Production Guarantee - Assessment(s) Value )
          </div>
          <div *ngIf="showNonPedigreeColumn && showPedigreeColumn" class="ccc-border-right ccc-right">
            <span class="ccc-expression">Sum of J</span>
          </div>  
          <div *ngIf="showNonPedigreeColumn && showPedigreeColumn" class="ccc-border-top"></div>
          <div *ngIf="showNonPedigreeColumn && showPedigreeColumn" class="ccc-right ccc-border-top"> 
            <span class="right-space">
              {{ productionGuaranteeAmount | number:'1.2-2'  }} 
            </span>
          </div>
           
          <div>
            <span class="ccc-expression">L</span> Less Early Establishment Deemed Yield Value
              <span  style="border-style: solid; border-color: #454545; border-radius: 2px; border-width: 1px; margin-left: 4px;">
                <mat-icon style="padding-top:3px;" (click)="toggleEarlyEstDeemedYieldValueRows()">
                  {{ !showEarlyEstDeemedYieldValueRows ? "keyboard_arrow_down" : "keyboard_arrow_up" }}
                </mat-icon>
              </span>
          </div>
          <div class="ccc-border-right ccc-right">
            <span class="ccc-expression">( Q or P ) x E</span>
          </div>
          <div *ngIf="showNonPedigreeColumn" class="ccc-right ccc-border-right">
            <span class="right-space">
              {{ earlyEstDeemedYieldValueNonPedigree | currency }}
            </span>
          </div>
          <div *ngIf="showPedigreeColumn" class="ccc-right">
            {{ earlyEstDeemedYieldValuePedigree | currency }}
          </div>

          <div>
            <span class="ccc-expression">R</span> Yield Value
          </div>
          <div class="ccc-border-right ccc-right">
            <span class="ccc-expression">H * E</span>
          </div>
          <div *ngIf="showNonPedigreeColumn" class="ccc-right ccc-border-right"> 
            <span class="right-space">
              {{ yieldValueNonPedigree | currency }}
            </span>
          </div> 
          <div *ngIf="showPedigreeColumn" class="ccc-right">
            {{ yieldValuePedigree | currency }}
          </div>
  
          <div>
            <span class="ccc-expression">S</span> Yield Value + Early Establishment Deemed Yield
          </div>
          <div class="ccc-border-right ccc-right">
            <span class="ccc-expression">R + L</span>
          </div>
          <div *ngIf="showNonPedigreeColumn" class="ccc-right ccc-border-right"> 
            <span class="right-space">
              {{ yieldValueWithEarlyEstDeemedYieldNonPedigree | currency }}
            </span>
          </div> 
          <div *ngIf="showPedigreeColumn" class="ccc-right">
            {{ yieldValueWithEarlyEstDeemedYieldPedigree | currency }}
          </div>
          
          <div>
            <span class="ccc-expression">T</span> Total Pedigreed and Non-Pedigreed Seeds Yield Loss Value
          </div>
          <div class="ccc-border-right ccc-right">
            <span class="ccc-expression">{{calculationDetail.linkedProductId ? "K - Sum of S" : "J - S" }}</span>
          </div>
          <div *ngIf="showNonPedigreeColumn && showPedigreeColumn" class="ccc-border-top"></div> 
          <div class="ccc-right ccc-border-top">
            {{ totalYieldLossValue | currency }}
          </div>
  
        </div>
        </div> -->


        <!-- <div class="ccc-row-group ccc-row-group-bordered">
          <label>Claim Determination</label>
          <div class="ccc-container ccc-coverage">

          <div>
            <span class="ccc-expression">U</span> Reseed Claim
          </div>
          <div class="ccc-border-right ccc-right">           
          </div>
          <div class="ccc-fill ccc-number-double" > 
            <mat-form-field appearance="fill">
              <input matInput maxlength="14"
              formControlName="reseedClaim" 
              (keypress)="numberOnly($event)" 
              (blur)="roundUpToPrecision('reseedClaim', 2); isMyFormDirty();">
            </mat-form-field>
          </div>
  
          <div>
            <span class="ccc-expression">V</span> Maximum Claim Payable
          </div>
          <div class="ccc-border-right ccc-right">
            <span class="ccc-expression">  {{ calculationDetail.linkedProductId ? "G - U" : "F - U"}} </span>
          </div>
          <div class="ccc-right"> 
            {{ maxClaimPayable |  currency  }} 
          </div> 
  
          <div>
            <span class="ccc-expression">W</span> Total Quantity Loss
          </div>
          <div class="ccc-border-right ccc-right">
            <span class="ccc-expression">T</span>
          </div>
          <div class="ccc-right">
            {{ totalYieldLossValue | currency }} 
          </div>
  
          <div>
            <span class="ccc-expression">X</span> Less Advanced Claim(s)
          </div>
          <div class="ccc-border-right ccc-right">
            <span class="ccc-expression"></span>
          </div>
          <div class="ccc-fill ccc-number-double">
             <mat-form-field appearance="fill">
              <input matInput maxlength="14"
              formControlName="advancedClaim" 
              (keypress)="numberOnly($event)" 
              (blur)="roundUpToPrecision('advancedClaim', 2); isMyFormDirty();">
            </mat-form-field>
          </div>

          <div>
            <span class="ccc-expression">Y</span> Quantity Loss Claim
          </div>
          <div class="ccc-border-right ccc-right" >
            <span class="ccc-expression">Lesser of (V or W) - X</span>
          </div>
          <div class="ccc-right">
            {{ quantityLossClaim | currency  }}
          </div>

        </div>
        </div> -->

        <div class="ccc-row-group ccc-row-group-bordered">
            <label>Comments</label>
            <div class="ccc-entire">
                <mat-form-field appearance="fill">
                    <textarea matInput formControlName="calculationComment" rows="4" maxlength="1000" (keyup)="setComment()" (blur)="isMyFormDirty();">
                      {{ calculationDetail.calculationComment }} 
                    </textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="ccc-row-group">
          <div class="ccc-row">
            <span class="ccc-col-left">
              <button mat-raised-button color="primary" 
                (click)="onCancel()"
              ><mat-icon style="padding-right: 4px;">cancel_presentation</mat-icon>Discard Changes / Reload</button>
            </span>
  
            <span class="ccc-col-right">
              <span *ngIf="isUnsaved" style="color:orange;">
                <mat-icon [ngStyle]="{'color':'orange', 'width':'24px'}">warning</mat-icon>
                Unsaved Changes
              </span>
              &nbsp;
<!-- 
              <button mat-raised-button color="primary"
                *ngIf="securityUtilService.doesUserHaveScope(SCOPES_UI.FINALIZE_CALCULATION) && showSubmitButton() "
                (click)="onSubmit()"
              ><mat-icon style="padding-right: 4px;">save_alt</mat-icon>Submit</button>
              &nbsp;
              <button mat-raised-button color="primary"
              *ngIf="securityUtilService.doesUserHaveScope(SCOPES_UI.UPDATE_CALCULATION) && showReopenButton() "
                (click)="onReopen()"
              ><mat-icon style="padding-right: 4px;">edit</mat-icon>Re-Open Calculation</button>
              &nbsp;
              <button mat-raised-button color="primary"
                  *ngIf="securityUtilService.doesUserHaveScope(SCOPES_UI.UPDATE_CALCULATION) && calculationDetail.calculationStatusCode === 'DRAFT' && showSaveButton()"
                  (click)="onSave(false)"
              ><mat-icon style="padding-right: 4px;">save</mat-icon>Save</button>
              &nbsp;
              <button mat-raised-button color="primary"
                  *ngIf="securityUtilService.doesUserHaveScope(SCOPES_UI.UPDATE_CALCULATION) && calculationDetail.calculationStatusCode !== 'DRAFT'"
                  (click)="onSave(true)"
              ><mat-icon style="padding-right: 4px;">save</mat-icon>Save Comments</button>
              &nbsp;
              <button mat-raised-button color="primary"
                *ngIf="securityUtilService.doesUserHaveScope(SCOPES_UI.PRINT_CALCULATION) && calculationDetail.claimCalculationGuid && showPrintButton()"
                  (click)="onPrint()"
              ><mat-icon style="padding-right: 4px;">print</mat-icon>Print</button> -->
            </span>
            
          </div> 
        </div>
      </form>
    </div>
  </div>
  
