@use '../../../styles/variables' as var;

.calculation-detail{
  .header-status-indicator{
    &.ACTIVE {
      color: var.$colour-green;
      border-color: var.$colour-green;;
    }

    &.INACTIVE {
      color: var.$colour-red;
      border-color: var.$colour-red;;
    }
  }
}
