@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap-grid.min.css");
.container, .container-fluid {padding: 0;}

@media screen {
  cirras-calculation-printout {
    display: none !important;
  }

  cirras-calculation-printout-berries {
    display: none !important;
  }

  cirras-calculation-printout-berries-plant {
    display: none !important;
  }

  cirras-calculation-printout-strawberries-plant {
    display: none !important;
  }

  calculation-printout-grain-unseeded {
    display: none !important;
  }

  calculation-printout-grain-spot-loss {
    display: none !important;
  }

  calculation-printout-grain-quantity {
    display: none !important;
  }

  calculation-printout-grain-basket {
    display: none !important;
  }
}



/* Template with Header & Footer */
// @page {
//   margin: 20mm
// }

@media print {
  /* set for entire printout */
  html, body {
    font-size: 8pt;
  }

  /* remove headers and footers */
  @page {
    margin: 7mm
  }

  wf-application {
    .menu {
      display: none !important;
      }
      
      .header {
      display: none !important;
      }
  }

  /* Template with Header & Footer */
  thead {display: table-header-group;} 
  #outbox-table tfoot {display: table-footer-group;}
  #outbox-table tfoot td {border-color:transparent}
  button {display: none;}
  body {margin: 0;}  

  /* table left column containing A, B, C presents background color(black) */ 
  body {
    -webkit-print-color-adjust: exact !important;
  }

  /* only Printout is printed in the print preview, and other unnecessary content is hided(e.g left nav menu, top bar etc. */
  cirras-calculation-printout {
    display: block !important;
  }
  cirras-claims-calculation-detail-grapes {
    display: none !important;
  }

  cirras-calculation-printout-berries {
    display: block !important;
  }
  cirras-claims-calculation-detail-berries {
    display: none !important;
  }

  cirras-calculation-printout-berries-plant {
    display: block !important;
  }
  cirras-calculation-detail-berries-plant {
    display: none !important;
  }

  cirras-calculation-printout-strawberries-plant {
    display: block !important;
  }
  cirras-calculation-detail-strawberries-plant {
    display: none !important;
  }

  calculation-detail-grain-unseeded {
    display: none !important;
  }

  calculation-printout-grain-unseeded  {
    display: block !important;
  }

  calculation-detail-grain-spot-loss {
    display: none !important;
  }

  calculation-printout-grain-spot-loss  {
    display: block !important;
  }

  // calculation-detail-grain-quantity {
  //   display: none !important;
  // }

  #grain-quantity  {
    display: none !important;
  }

  calculation-printout-grain-quantity  {
    display: block !important;
  }

  calculation-detail-grain-basket {
    display: none !important;
  }

  calculation-printout-grain-basket  {
    display: block !important;
  }

  #core-interface-container mat-sidenav-container mat-sidenav-content {
    top: 0px !important;
    font-family: 'Noto Sans', Verdana, Arial, sans-serif;  /* font set for entire printout */ //'BCSans', 
  }
  .user-summary.ng-star-inserted {
    display: none !important;
  }
  mat-sidenav {
    box-shadow: none !important;
    visibility: hidden !important;
    display: none !important;
  }
  mat-toolbar {
    box-shadow: none !important;
    visibility: hidden !important;
    display: none !important;
  }
  mat-sidenav-content {
    margin-left: 0px !important;
  }


    /* table */
    table, td, th {
      border: 0.6px solid black;
      padding: 0px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    #outbox-table {
      border: 0px;
      padding: 0px;
      margin-top: 0px;
    }
    #outbox-tr {
      border: 0px;
      margin-top: 0px; 
      padding-top: 0px; 
      padding-bottom: 0px;
    }
    #outbox-td {
      border: 0px;
      margin-top: 0px; 
      padding-top: 0px; 
      padding-bottom: 0px;
    }
    
    .td-abc-label {
      background-color: #000000; 
      color: #ffffff; 
      font-weight: bold; 
      text-align: center; 
      width: 18px;    
    }  
    
    /* avoid page break inside  */
    .print-page-break-inside {
      page-break-inside: avoid;
    }
    
    .page {
      page-break-after: always;
    }

    .mat-mdc-snack-bar-container {
      display: none !important;
    }
    
}
