
@media print {
  /* set for entire printout */
  html, body {
    font-size: 8pt;
  }

  /* remove headers and footers */
  @page {
    margin: 7mm
  }

  wf-application {
    .menu {
      display: none !important;
      }
      
      .header {
      display: none !important;
      }
  }

  /* Template with Header & Footer */
  thead {display: table-header-group;} 

  body {margin: 0;}  

  /* table left column containing A, B, C presents background color(black) */ 
  body {
    -webkit-print-color-adjust: exact !important;
  }

    /* table */
    table, td, th {
      border: 0.6px solid black;
      padding: 0px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    #outbox-table {
      border: 0px;
      padding: 0px;
      margin-top: 0px;
    }
    #outbox-tr {
      border: 0px;
      margin-top: 0px; 
      padding-top: 0px; 
      padding-bottom: 0px;
    }
    #outbox-td {
      border: 0px;
      margin-top: 0px; 
      padding-top: 0px; 
      padding-bottom: 0px;
    }
    
    .td-abc-label {
      background-color: #000000; 
      color: #ffffff; 
      font-weight: bold; 
      text-align: center; 
      width: 18px;    
    }  
    
    /* avoid page break inside  */
    .print-page-break-inside {
      page-break-inside: avoid;
    }

    .mat-mdc-snack-bar-container {
      display: none !important;
    }
    
}
