@use "../variables" as var ;

.unauthorized-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var.$font-family-main;

  padding: 50px 50px;
  padding-left: var(--cirras-claims-gutter-space);
  padding-right: var(--cirras-claims-gutter-space); //
}