

  <div class="cirras-claims-header-bar flex-y-fixed" style="margin-bottom: 30px; margin-top: 0px; padding-top: 0px;">
    <div class="ccc-row-group" style="padding-left: 0px; padding-right: 0px; margin-top: 0px; padding-top: 0px;">
      <div class="ccc-row" style="margin-top: 0px; padding-top: 0px;">
        <span class="ccc-col-left" style="margin-top: 0px; padding-top: 30px;">
          <span class="printout-title">Production Insurance</span><br/>
          <span class="printout-subtitle">BC Ministry of Agriculture and Food</span>
        </span>
        <span class="ccc-col-right" style="margin-top: 15px; padding-top: 0px;">  
            <img class="logo-image" src="assets/images/logo/SCAP-BCID-Logo.svg" alt="CAP Logo">
        </span>

    </div>      
  </div>


