
  <div class="cirras-claims-header-bar flex-y-fixed">
     <h1>{{ titleCase(calculationDetail.commodityName + ' ' + calculationDetail.coverageName) }} 
      {{ ((calculationDetail.commodityCoverageCode).toUpperCase() === 'CSL') ? "" : "Loss" }}
      </h1> 
  </div>

  <div class="ccc-row-group">
    <div class="ccc-container ccc-purchase" style="grid-auto-rows: minmax(1em, auto) !important;">
      <div>
        {{ calculationDetail.growerName }}

        <span #el matTooltip="Grower info doesn't match with CIRRAS" 
        *ngIf="calculationDetail.isOutOfSyncGrowerNumber 
        || calculationDetail.isOutOfSyncGrowerName
        || calculationDetail.isOutOfSyncGrowerAddrLine1
        || calculationDetail.isOutOfSyncGrowerAddrLine2
        || calculationDetail.isOutOfSyncGrowerPostalCode
        || calculationDetail.isOutOfSyncGrowerCity 
        || calculationDetail.isOutOfSyncGrowerProvince">
        <mat-icon [ngStyle]="{'color':'orange'}">warning</mat-icon>
        </span>
      </div>
      <div></div>
      <div class="ccc-right">
        Grower: {{ calculationDetail.growerNumber }}
      </div>
      <div>
        {{ calculationDetail.growerAddressLine1 }} {{ calculationDetail.growerAddressLine2 }} 
      </div>
      <div>
        
      </div>
      <div class="ccc-right">
        Policy: {{ calculationDetail.policyNumber }}
      </div>
      <div>
        {{ calculationDetail.growerCity }}, {{ calculationDetail.growerProvince }}, {{ calculationDetail.growerPostalCode }}
      </div>
      <div></div>                
      <div class="ccc-right">
        Claim: {{ calculationDetail.claimNumber }}
      </div>
    </div>
  </div>


  <div class="ccc-row-group ccc-row-group-bordered">
    <label>Calculation Details</label>            
  
    <div class="ccc-row">
      <span class="ccc-col-left3">
        <span >Status: {{ calculationDetail.calculationStatusCode }}</span>
        <br/><br/>
        <span class="layout-padding">Version: {{ calculationDetail.calculationVersionDisplay }}</span>
      </span>
      <span class="ccc-col-left3">
        Created By: {{ calculationDetail.createUser}}
        <br /><br/>
        Created On: {{ calculationDetail.createDate | date:'yyyy-MM-dd' }}
        <br /><br/>
      </span>
      <span class="ccc-col-right3">    
          <button mat-raised-button color="primary"

          *ngIf="securityUtilService.doesUserHaveScope(SCOPES_UI.REFRESH_DATA) && 
                (calculationDetail.calculationStatusCode === 'DRAFT' ) && 
                calculationDetail.isOutOfSync ; else emptySpaces"
              (click)="onRefresh()"
          ><mat-icon style="padding-right: 4px;">refresh</mat-icon>Refresh</button>
      
          <ng-template #emptySpaces>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            &nbsp;&nbsp;&nbsp;  
          </ng-template>
      </span>
    </div>              
    <div class="ccc-row">
      <span class="ccc-col-left3">
       &nbsp;
      </span>
      <span class="ccc-col-left3">
        Updated By: {{ calculationDetail.updateUser}}
        <br /><br />
        Updated On: {{ calculationDetail.updateDate | date:'yyyy-MM-dd' }}
      </span>   
      <span class="ccc-col-right3" >   

        <button mat-raised-button color="primary"            
        *ngIf="securityUtilService.doesUserHaveScope(SCOPES_UI.REPLACE_CALCULATION) && 
          calculationDetail.calculationStatusCode === 'APPROVED' && 
          (
            ( calculationDetail.currentClaimStatusCode === 'OPEN' && calculationDetail.currentHasChequeReqInd == false)
            ||
            ( calculationDetail.currentClaimStatusCode === 'IN PROGRESS' && calculationDetail.currentHasChequeReqInd == true)
          )
          ; else emptySpaces2"
            (click)="onReplace()"
        >Replace </button>        
        <ng-template #emptySpaces2>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
        </ng-template>
    </span>
    </div>	
  </div>

  <!-- check if isOutOfSync is null -->
  <div 
  class="ccc-row-group ccc-row-group-bordered" style="border-color: red;" 
  *ngIf=" calculationDetail.claimCalculationGuid &&  calculationDetail.isOutOfSync == null && 
          calculationDetail.calculationStatusCode !== 'APPROVED' && calculationDetail.calculationStatusCode !== 'ARCHIVED' "> 
  <div class="ccc-container ccc-warning">
    <div>
      <span #el matTooltip="" style="margin-left: 10px; margin-right: 50px;">
        <mat-icon [ngStyle]="{'color':'red', 'font-size':'64px'}">warning</mat-icon>
      </span>
    </div>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start;">
      <h3 style="color: red;">
        Cannot reach CIRRAS: Data loaded from CIRRAS could be out of date. Please try again.
      </h3>
      <span style="color: red; font-size: 14px;">
        Refresh and Submit is not possible until this is resolved.
      </span> 
      <br />
      <span style="color: red; font-size: 14px;">
        If this problem persists, contact <a href="mailto:biu@gov.bc.ca">BIU</a>
      </span>   
    </div>
  </div>
</div>

  <div 
    class="ccc-row-group ccc-row-group-bordered" style="border-color: red;" 
    *ngIf="calculationDetail.calculationStatusCode === 'DRAFT' && 
            (
              (calculationDetail.claimStatusCode !== 'OPEN' && calculationDetail.currentHasChequeReqInd == false)
              ||
              (calculationDetail.claimStatusCode !== 'IN PROGRESS' && calculationDetail.currentHasChequeReqInd == true)
            )"
  > 
    <div class="ccc-container ccc-warning">
      <div>
        <span #el matTooltip="" style="margin-left: 10px; margin-right: 50px;">
          <mat-icon [ngStyle]="{'color':'red', 'font-size':'64px'}">warning</mat-icon>
        </span>
      </div>
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start;">
        <h3 style="color: red;">
          This Calculation has not been submitted but the Claim Status in CIRRAS is no longer Open.
        </h3>      
        <span style="color: red; font-size: 14px;">
          Roll back the claim in CIRRAS to resolve this issue.
        </span>   
      </div>
    </div>
  </div>
  