<div class="dialog-form" (ngSubmit)="onReplace()" > 
  <div class="form-row title-row" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <h3>Calculation Replace Options</h3>
  </div>
  <mat-dialog-content>
    <div class="form-row">
      <div class="field">
        <div class="col-md-2" > 
          <mat-radio-group class="vertical-radio-group" aria-label="Select an option" [(ngModel)]="replaceOption">
            <mat-radio-button class="vertical-radio-button" style="width:300px;" value="REPLACE_COPY">Replace based on this calculation</mat-radio-button>
            <mat-radio-button class="vertical-radio-button" style="width:300px;" value="REPLACE_NEW">Replace with a new calculation</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <div class="form-row dialog-controls">
    <button mat-raised-button color="primary" (click)="onReplace()"><div class="mat-caption">Proceed</div></button> 
    &nbsp;&nbsp;
    <button mat-raise-button color="primary" (click)="cancelDialog()"><div class="mat-caption">Cancel</div></button>
  </div>
</div>
