<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.bc.gov.mal.cirras.claims.persistence.v1.dao.mybatis.mapper.ClaimCalculationPlantAcresMapper">

	<resultMap id="ClaimCalculationPlantAcresDtoMap" type="ca.bc.gov.mal.cirras.claims.persistence.v1.dto.ClaimCalculationPlantAcresDto">
		<id property="claimCalcPlantAcresGuid" column="CLAIM_CALC_PLANT_ACRES_GUID" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="claimCalculationGuid" column="CLAIM_CALCULATION_GUID" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="declaredAcres" column="DECLARED_ACRES" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="confirmedAcres" column="CONFIRMED_ACRES" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="insuredAcres" column="INSURED_ACRES" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="deductibleLevel" column="DEDUCTIBLE_LEVEL" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="deductibleAcres" column="DEDUCTIBLE_ACRES" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="totalCoverageAcres" column="TOTAL_COVERAGE_ACRES" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="damagedAcres" column="DAMAGED_ACRES" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="acresLossCovered" column="ACRES_LOSS_COVERED" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="insurableValue" column="INSURABLE_VALUE" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="coverageAmount" column="COVERAGE_AMOUNT" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="lessAssessmentReason" column="LESS_ASSESSMENT_REASON" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="lessAssessmentAmount" column="LESS_ASSESSMENT_AMOUNT" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="revisionCount" column="REVISION_COUNT" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="createUser" column="CREATE_USER" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="createDate" column="CREATE_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="updateUser" column="UPDATE_USER" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="updateDate" column="UPDATE_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		
	</resultMap>
	
	
    <sql id="selectColumns">
        SELECT	T.CLAIM_CALC_PLANT_ACRES_GUID, 
				T.CLAIM_CALCULATION_GUID, 
				T.DECLARED_ACRES, 
				T.CONFIRMED_ACRES, 
				T.INSURED_ACRES, 
				T.DEDUCTIBLE_LEVEL, 
				T.DEDUCTIBLE_ACRES, 
				T.TOTAL_COVERAGE_ACRES, 
				T.DAMAGED_ACRES, 
				T.ACRES_LOSS_COVERED, 
				T.INSURABLE_VALUE, 
				T.COVERAGE_AMOUNT, 
				T.LESS_ASSESSMENT_REASON, 
				T.LESS_ASSESSMENT_AMOUNT, 
				T.REVISION_COUNT, 
				T.CREATE_USER, 
				T.CREATE_DATE, 
				T.UPDATE_USER, 
				T.UPDATE_DATE
    </sql>
    
    
	<select id="fetch" resultMap="ClaimCalculationPlantAcresDtoMap">
		<include refid="selectColumns"/>
		FROM CLAIM_CALCULATION_PLANT_ACRES T
		WHERE T.CLAIM_CALC_PLANT_ACRES_GUID = #{claimCalcPlantAcresGuid}
	</select>
	
	<select id="select" resultMap="ClaimCalculationPlantAcresDtoMap">  
		<include refid="selectColumns"/>
		FROM CLAIM_CALCULATION_PLANT_ACRES T
		WHERE T.CLAIM_CALCULATION_GUID =#{claimCalculationGuid}
	</select> 
	
	<insert id="insert">
		<selectKey keyProperty="claimCalcPlantAcresGuid" resultType="java.lang.String" order="BEFORE"> 
			select replace(cast(gen_random_uuid() as text), '-', '')
		</selectKey>

		INSERT INTO CLAIM_CALCULATION_PLANT_ACRES (
			CLAIM_CALC_PLANT_ACRES_GUID,
			CLAIM_CALCULATION_GUID,
			DECLARED_ACRES,
			CONFIRMED_ACRES,
			INSURED_ACRES,
			DEDUCTIBLE_LEVEL,
			DEDUCTIBLE_ACRES,
			TOTAL_COVERAGE_ACRES,
			DAMAGED_ACRES,
			ACRES_LOSS_COVERED,
			INSURABLE_VALUE, 
			COVERAGE_AMOUNT, 
			LESS_ASSESSMENT_REASON,
			LESS_ASSESSMENT_AMOUNT,
			REVISION_COUNT,
			CREATE_USER,
			CREATE_DATE,
			UPDATE_USER,
			UPDATE_DATE
		) VALUES (
		   	#{claimCalcPlantAcresGuid},
			#{dto.claimCalculationGuid, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN},
			#{dto.declaredAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.confirmedAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.insuredAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.deductibleLevel, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.deductibleAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.totalCoverageAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.damagedAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.acresLossCovered, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.insurableValue, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.coverageAmount, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.lessAssessmentReason, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN},
			#{dto.lessAssessmentAmount, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			1,
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			CURRENT_TIMESTAMP,
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			CURRENT_TIMESTAMP
		 )
	</insert> 

	<update id="update">
		UPDATE CLAIM_CALCULATION_PLANT_ACRES
		SET 
			DECLARED_ACRES = #{dto.declaredAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			CONFIRMED_ACRES = #{dto.confirmedAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			INSURED_ACRES = #{dto.insuredAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			DEDUCTIBLE_LEVEL = #{dto.deductibleLevel, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}, 
			DEDUCTIBLE_ACRES = #{dto.deductibleAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			TOTAL_COVERAGE_ACRES = #{dto.totalCoverageAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			DAMAGED_ACRES = #{dto.damagedAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			ACRES_LOSS_COVERED = #{dto.acresLossCovered, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			INSURABLE_VALUE = #{dto.insurableValue, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			COVERAGE_AMOUNT = #{dto.coverageAmount, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			LESS_ASSESSMENT_REASON = #{dto.lessAssessmentReason, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN}, 
			LESS_ASSESSMENT_AMOUNT = #{dto.lessAssessmentAmount, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			REVISION_COUNT = REVISION_COUNT + 1,
			UPDATE_USER = #{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			UPDATE_DATE = CURRENT_TIMESTAMP
		 WHERE CLAIM_CALC_PLANT_ACRES_GUID = #{claimCalcPlantAcresGuid}
	</update> 

	<delete id="delete">
		DELETE FROM CLAIM_CALCULATION_PLANT_ACRES WHERE CLAIM_CALC_PLANT_ACRES_GUID = #{claimCalcPlantAcresGuid}
	</delete>
	
	<delete id="deleteForClaim">
		DELETE FROM CLAIM_CALCULATION_PLANT_ACRES WHERE CLAIM_CALCULATION_GUID = #{claimCalculationGuid}
	</delete>

	<select id="selectAll" resultMap="ClaimCalculationPlantAcresDtoMap">
		<include refid="selectColumns"/>
		FROM CLAIM_CALCULATION_PLANT_ACRES T
	</select>	
	
</mapper>
