<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.bc.gov.mal.cirras.claims.persistence.v1.dao.mybatis.mapper.ClaimCalculationGrainUnseededMapper">

	<resultMap id="ClaimCalculationGrainUnseededDtoMap" type="ca.bc.gov.mal.cirras.claims.persistence.v1.dto.ClaimCalculationGrainUnseededDto">
		<id property="claimCalculationGrainUnseededGuid" column="claim_calc_grain_unseeded_guid" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="claimCalculationGuid" column="claim_calculation_guid" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="insuredAcres" column="insured_acres" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="lessAdjustmentAcres" column="less_adjustment_acres" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="adjustedAcres" column="adjusted_acres" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="deductibleLevel" column="deductible_level" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="deductibleAcres" column="deductible_acres" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="maxEligibleAcres" column="max_eligible_acres" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="insurableValue" column="insurable_value" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="coverageValue" column="coverage_value" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="unseededAcres" column="unseeded_acres" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="lessAssessmentAcres" column="less_assessment_acres" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="eligibleUnseededAcres" column="eligible_unseeded_acres" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="revisionCount" column="revision_count" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="createUser" column="create_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="createDate" column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="updateUser" column="update_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="updateDate" column="update_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
	</resultMap>
	
	
    <sql id="selectColumns">
        SELECT	t.claim_calc_grain_unseeded_guid, 
				t.claim_calculation_guid, 
				t.insured_acres, 
				t.less_adjustment_acres, 
				t.adjusted_acres, 
				t.deductible_level, 
				t.deductible_acres, 
				t.max_eligible_acres, 
				t.insurable_value, 
				t.coverage_value, 
				t.unseeded_acres, 
				t.less_assessment_acres, 
				t.eligible_unseeded_acres, 
				t.revision_count, 
				t.create_user, 
				t.create_date, 
				t.update_user, 
				t.update_date
    </sql>
    
    
	<select id="fetch" resultMap="ClaimCalculationGrainUnseededDtoMap">
		<include refid="selectColumns"/>
		FROM claim_calculation_grain_unseeded t
		WHERE t.claim_calc_grain_unseeded_guid = #{claimCalculationGrainUnseededGuid}
	</select>
	
	<select id="select" resultMap="ClaimCalculationGrainUnseededDtoMap">  
		<include refid="selectColumns"/>
		FROM claim_calculation_grain_unseeded t
		WHERE t.claim_calculation_guid =#{claimCalculationGuid}
	</select> 
	
	<insert id="insert">
		<selectKey keyProperty="claimCalculationGrainUnseededGuid" resultType="java.lang.String" order="BEFORE"> 
			select replace(cast(gen_random_uuid() as text), '-', '')
		</selectKey>

		INSERT INTO claim_calculation_grain_unseeded (
			claim_calc_grain_unseeded_guid,
			claim_calculation_guid,
			insured_acres,
			less_adjustment_acres,
			adjusted_acres,
			deductible_level,
			deductible_acres,
			max_eligible_acres,
			insurable_value,
			coverage_value,
			unseeded_acres,
			less_assessment_acres,
			eligible_unseeded_acres,
			revision_count,
			create_user,
			create_date,
			update_user,
			update_date
		) VALUES (
		   	#{claimCalculationGrainUnseededGuid},
			#{dto.claimCalculationGuid, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN},
			#{dto.insuredAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.lessAdjustmentAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.adjustedAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.deductibleLevel, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.deductibleAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.maxEligibleAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.insurableValue, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.coverageValue, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.unseededAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.lessAssessmentAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.eligibleUnseededAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.revisionCount, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now(),
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now()
		 )
	</insert> 

	<update id="update">
		UPDATE claim_calculation_grain_unseeded
		SET 
			insured_acres = #{dto.insuredAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			less_adjustment_acres = #{dto.lessAdjustmentAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			adjusted_acres = #{dto.adjustedAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			deductible_level = #{dto.deductibleLevel, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}, 
			deductible_acres = #{dto.deductibleAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			max_eligible_acres = #{dto.maxEligibleAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			insurable_value = #{dto.insurableValue, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			coverage_value = #{dto.coverageValue, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			unseeded_acres = #{dto.unseededAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			less_assessment_acres = #{dto.lessAssessmentAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			eligible_unseeded_acres = #{dto.eligibleUnseededAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			revision_count = revision_count + 1,
			update_user = #{dto.updateUser, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN}, 
			update_date = now()
		 WHERE claim_calc_grain_unseeded_guid = #{claimCalculationGrainUnseededGuid}
	</update> 

	<delete id="delete">
		DELETE FROM claim_calculation_grain_unseeded WHERE claim_calc_grain_unseeded_guid = #{claimCalculationGrainUnseededGuid}
	</delete>
	
	<delete id="deleteForClaim">
		DELETE FROM claim_calculation_grain_unseeded WHERE claim_calculation_guid = #{claimCalculationGuid}
	</delete>

	<select id="selectAll" resultMap="ClaimCalculationGrainUnseededDtoMap">
		<include refid="selectColumns"/>
		FROM claim_calculation_grain_unseeded t
	</select>	
	
</mapper>
