<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.bc.gov.mal.cirras.claims.persistence.v1.dao.mybatis.mapper.ClaimCalculationBerriesMapper">

	<resultMap id="ClaimCalculationBerriesDtoMap" type="ca.bc.gov.mal.cirras.claims.persistence.v1.dto.ClaimCalculationBerriesDto">
		<id property="claimCalculationBerriesGuid" column="CLAIM_CALCULATION_BERRIES_GUID" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="claimCalculationGuid" column="CLAIM_CALCULATION_GUID" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="totalProbableYield" column="TOTAL_PROBABLE_YIELD" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="deductibleLevel" column="DEDUCTIBLE_LEVEL" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="productionGuarantee" column="PRODUCTION_GUARANTEE" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="declaredAcres" column="DECLARED_ACRES" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="confirmedAcres" column="CONFIRMED_ACRES" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="adjustmentFactor" column="ADJUSTMENT_FACTOR" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="adjustedProductionGuarantee" column="ADJUSTED_PRODUCTION_GUARANTEE" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="insurableValueSelected" column="INSURABLE_VALUE_SELECTED" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="insurableValueHundredPercent" column="INSURABLE_VALUE_HUNDRED_PERCENT" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="coverageAmountAdjusted" column="COVERAGE_AMOUNT_ADJUSTED" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="maxCoverageAmount" column="MAX_COVERAGE_AMOUNT" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="harvestedYield" column="HARVESTED_YIELD" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="appraisedYield" column="APPRAISED_YIELD" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="abandonedYield" column="ABANDONED_YIELD" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="totalYieldFromDop" column="TOTAL_YIELD_FROM_DOP" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="totalYieldFromAdjuster" column="TOTAL_YIELD_FROM_ADJUSTER" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="yieldAssessment" column="YIELD_ASSESSMENT" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="totalYieldForCalculation" column="TOTAL_YIELD_FOR_CALCULATION" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="yieldLossEligible" column="YIELD_LOSS_ELIGIBLE" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="revisionCount" column="REVISION_COUNT" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="createUser" column="CREATE_USER" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="createDate" column="CREATE_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="updateUser" column="UPDATE_USER" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="updateDate" column="UPDATE_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		
	</resultMap>
	
	
    <sql id="selectColumns">
        SELECT T.CLAIM_CALCULATION_BERRIES_GUID,
		       T.CLAIM_CALCULATION_GUID,
		       T.TOTAL_PROBABLE_YIELD,
		       T.DEDUCTIBLE_LEVEL,
		       T.PRODUCTION_GUARANTEE,
		       T.DECLARED_ACRES,
		       T.CONFIRMED_ACRES,
		       T.ADJUSTMENT_FACTOR,
		       T.ADJUSTED_PRODUCTION_GUARANTEE,
			   T.INSURABLE_VALUE_SELECTED,
			   T.INSURABLE_VALUE_HUNDRED_PERCENT,
			   T.COVERAGE_AMOUNT_ADJUSTED,
			   T.MAX_COVERAGE_AMOUNT,
		       T.HARVESTED_YIELD,
		       T.APPRAISED_YIELD,
		       T.ABANDONED_YIELD,
		       T.TOTAL_YIELD_FROM_DOP,
		       T.TOTAL_YIELD_FROM_ADJUSTER,
		       T.YIELD_ASSESSMENT,
		       T.TOTAL_YIELD_FOR_CALCULATION,
		       T.YIELD_LOSS_ELIGIBLE,
		       T.REVISION_COUNT,
		       T.CREATE_USER,
		       T.CREATE_DATE,
		       T.UPDATE_USER,
		       T.UPDATE_DATE
    </sql>
    
    
	<select id="fetch" resultMap="ClaimCalculationBerriesDtoMap">
		<include refid="selectColumns"/>
		FROM CLAIM_CALCULATION_BERRIES T
		WHERE T.CLAIM_CALCULATION_BERRIES_GUID = #{claimCalculationBerriesGuid}
	</select>
	
	<select id="select" resultMap="ClaimCalculationBerriesDtoMap">  
		<include refid="selectColumns"/>
		FROM CLAIM_CALCULATION_BERRIES T
		WHERE T.CLAIM_CALCULATION_GUID =#{claimCalculationGuid}
	</select> 
	
	<insert id="insert">
		<selectKey keyProperty="claimCalculationBerriesGuid" resultType="java.lang.String" order="BEFORE"> 
			select replace(cast(gen_random_uuid() as text), '-', '')
		</selectKey>


		INSERT INTO CLAIM_CALCULATION_BERRIES (
			CLAIM_CALCULATION_BERRIES_GUID,
			CLAIM_CALCULATION_GUID,
			TOTAL_PROBABLE_YIELD,
			DEDUCTIBLE_LEVEL,
			PRODUCTION_GUARANTEE,
			DECLARED_ACRES,
			CONFIRMED_ACRES,
			ADJUSTMENT_FACTOR,
			ADJUSTED_PRODUCTION_GUARANTEE,
		    INSURABLE_VALUE_SELECTED,
		   	INSURABLE_VALUE_HUNDRED_PERCENT,
		   	COVERAGE_AMOUNT_ADJUSTED,
		   	MAX_COVERAGE_AMOUNT,
			HARVESTED_YIELD,
			APPRAISED_YIELD,
			ABANDONED_YIELD,
			TOTAL_YIELD_FROM_DOP,
			TOTAL_YIELD_FROM_ADJUSTER,
			YIELD_ASSESSMENT,
			TOTAL_YIELD_FOR_CALCULATION,
			YIELD_LOSS_ELIGIBLE,
			REVISION_COUNT,
			CREATE_USER,
			CREATE_DATE,
			UPDATE_USER,
			UPDATE_DATE
		) VALUES (
		   	#{claimCalculationBerriesGuid},
			#{dto.claimCalculationGuid, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN},
			#{dto.totalProbableYield, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.deductibleLevel, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.productionGuarantee, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.declaredAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.confirmedAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.adjustmentFactor, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.adjustedProductionGuarantee, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.insurableValueSelected, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.insurableValueHundredPercent, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.coverageAmountAdjusted, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.maxCoverageAmount, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.harvestedYield, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.appraisedYield, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.abandonedYield, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.totalYieldFromDop, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.totalYieldFromAdjuster, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.yieldAssessment, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.totalYieldForCalculation, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.yieldLossEligible, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			1,
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			CURRENT_TIMESTAMP,
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			CURRENT_TIMESTAMP
		 )
	</insert> 

	<update id="update">
		UPDATE CLAIM_CALCULATION_BERRIES
		SET 
			TOTAL_PROBABLE_YIELD = #{dto.totalProbableYield, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			DEDUCTIBLE_LEVEL = #{dto.deductibleLevel, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}, 
			PRODUCTION_GUARANTEE = #{dto.productionGuarantee, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			DECLARED_ACRES = #{dto.declaredAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			CONFIRMED_ACRES = #{dto.confirmedAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			ADJUSTMENT_FACTOR = #{dto.adjustmentFactor, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			ADJUSTED_PRODUCTION_GUARANTEE = #{dto.adjustedProductionGuarantee, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			INSURABLE_VALUE_SELECTED = #{dto.insurableValueSelected, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			INSURABLE_VALUE_HUNDRED_PERCENT = #{dto.insurableValueHundredPercent, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			COVERAGE_AMOUNT_ADJUSTED = #{dto.coverageAmountAdjusted, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			MAX_COVERAGE_AMOUNT = #{dto.maxCoverageAmount, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			HARVESTED_YIELD = #{dto.harvestedYield, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			APPRAISED_YIELD = #{dto.appraisedYield, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			ABANDONED_YIELD = #{dto.abandonedYield, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			TOTAL_YIELD_FROM_DOP = #{dto.totalYieldFromDop, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			TOTAL_YIELD_FROM_ADJUSTER = #{dto.totalYieldFromAdjuster, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			YIELD_ASSESSMENT = #{dto.yieldAssessment, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			TOTAL_YIELD_FOR_CALCULATION = #{dto.totalYieldForCalculation, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			YIELD_LOSS_ELIGIBLE = #{dto.yieldLossEligible, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			REVISION_COUNT = REVISION_COUNT + 1,
			UPDATE_USER = #{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			UPDATE_DATE = CURRENT_TIMESTAMP
		 WHERE CLAIM_CALCULATION_BERRIES_GUID = #{claimCalculationBerriesGuid}
	</update> 

	<delete id="delete">
		DELETE FROM CLAIM_CALCULATION_BERRIES WHERE CLAIM_CALCULATION_BERRIES_GUID = #{claimCalculationBerriesGuid}
	</delete>
	
	<delete id="deleteForClaim">
		DELETE FROM CLAIM_CALCULATION_BERRIES WHERE CLAIM_CALCULATION_GUID = #{claimCalculationGuid}
	</delete>

	<select id="selectAll" resultMap="ClaimCalculationBerriesDtoMap">
		<include refid="selectColumns"/>
		FROM CLAIM_CALCULATION_BERRIES T
	</select>	
	
</mapper>
