@use '../../../../styles/variables';

@media screen {
  cirras-calculation-printout-berries {
    display: none !important;
  }
}

@media print {
/* only Printout is printed in the print preview, and other unnecessary content is hided(e.g left nav menu, top bar etc. */
  cirras-calculation-printout-berries {
    display: block !important;
  }
  #div-cirras-claims-calculation-detail-berries {
    display: none !important;
  }
}
